.container.container-sm
  %h1.warning WARNING!
  %p This information is provided by DoctorMe and is not intended to replace the medical advice of your doctor or healthcare provider. Please consult your healthcare provider for advice about this specific medical condition.
  
  %p
    = link_to "Start Over", new_patient_case_path, class: 'btn'
