.container.container-sm
  %h1.warning-notice No remedies available
  %p We don't have any remedies for you at this time. Please check back with us later or consult your healthcare provider for advice about this specific medical condition.
  
  %p
    = link_to "Start Over", new_patient_case_path, class: 'btn'
