.container.container-sm.container-no-nav
  = image_tag("DoctorMeLogo.svg", class: "logo-home image-padding")
  %p This is where we put the terms of use. 

  %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  
  %p
    = link_to 'Back', :back, class: 'btn btn-white'
