body {
  background-color: #f2fcff;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20pt;
  text-align: center;
  color: #2298bc;
  padding-bottom: 20px;
  margin-bottom: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: #b2b3b5;
  text-align: center;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b2b3b5;
  &:hover,
  &:active,
  &:focus {
    color: #212529;
    text-decoration: none;
  }
}

label {
  font-family: 'Open Sans', sans-serif;
  color: #b2b3b5;
}

abbr {
  display: none;
}

hr {
  width: 150px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: left;
}

tr.nested {
  &.nested-1x {
    td:first-child {
      padding-left: 15px;
    }
  }
  &.nested-2x {
    td:first-child {
      padding-left: 30px;
    } 
  }
  &.nested-3x {
    td:first-child {
      padding-left: 45px;
    } 
  }
  &.nested-4x {
    td:first-child {
      padding-left: 60px;
    } 
  }
}

.disabled {
  pointer-events: none;
}

.admin-verify {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 30px 20px;
  background-color: white;
  border-radius: 500px;
  border: 2px solid #666;
  color: #666;
}

.admin-verify-content {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 130px;
  height: 80vh;
  overflow-y: scroll;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 2px 2px rgba(169, 169, 169, 0.1);
  border-radius: 3px;
}

.display-none {
  display: none;
}

.container-sm {
  max-width: 600px;
}

.container {
  margin: 95px auto;
  border: 1px solid #cee9f1;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  align-items: center;
  padding: 50px;
  position: relative;
}

.navbar {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cee9f1;
  img {
    width: 150px;
  }
}

#notice {
  padding-top: 30px;
  position: absolute;
  width: 100%;
}

.warning {
  color: red;
}

.container-no-nav {
  margin: 200px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 40%;
  }
}

.container-3-column {
  max-width: 1000px;
}

.logo {
  padding-left: 50px;
}

.tier-2 {
  display: none;
}

.tier-3 {
  display: none;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #9cce72;
  color: white;
  padding: 10px 50px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 7px;
  &:hover,
  &:active,
  &:focus {
    background-color: #2298bc;
    color: white;
  }
  a {
    color: white;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #9cce72;
  border-color: #9cce72;
}

.center-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.read-more-btn {
  background-color: #2298bc;
  &:hover,
  &:active,
  &:focus {
    background-color: #9cce72;
  }
}

.btn-white {
  background-color: white;
  color: #9cce72;
  border: 1px solid #9cce72;
  &:hover,
  &:active,
  &:focus {
    background-color: #9cce72;
    color: white;
  }
}

.btn-start-over {
  padding: 15px 80px;
  margin-top: 50px;
}

.form-inputs {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: 1px solid #2298bc;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}

.list-inline-bullet {
  position: relative;
  display: block;
  font-weight: 400;
  border: 1px solid #2298bc;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 50px;
  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: #2298bc;
    color: white;
  }
  &.active::before {
    background-color: #82cde4;
    border-color: white;
  }
  &::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    background-color: white;
    border: 1px solid #82cde4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: -35px;
  }
}

.checkbox {
  input {
    margin-right: 10px;
  }
  label {
    padding-top: 7px;
    border: 1px solid #2298bc;
    display: inline-block;
    font-weight: 400;
    border-radius: 7px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      background-color: #2298bc;
      color: white;
    }
  }
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
}

.pagination {
  position: absolute;
  font-weight: 600;
  top: -15px;
  left: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  li .circle {
    color: #E3E3E3;
    background-color: #E3E3E3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    line-height: 27px;
    &.active {
      color: white;
      background-color: #2298bc;
    }
  }
}

.image-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 10px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

img {
  /*display: block;*/
  max-width: 100%;
  max-height: 400px;
}

.col-3-image img {
    max-width: 100%;
    max-height: 150px;
}

.align-text-left p {
  text-align: left;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.results strong {
  font-size: 16pt;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #2298bc;
}

.row {
  text-align: left;
}

.brand-name {
  color: #808184;
  font-size: 20pt;
}

.tab-content {
  padding-top: 40px;
}

.nav-tabs .nav-link {
  background-color: #f6f7f7;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }
}
