body {
  background-color: #f2fcff;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20pt;
  text-align: center;
  color: #2298bc;
  padding-bottom: 40px;
  margin-bottom: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  color: #808184;
  text-align: center;
}

span {
  color: #808184;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #808184;
  &:hover,
  &:active,
  &:focus {
    color: #212529;
    text-decoration: none;
  }
}

.display-none {
  display: none;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  border: 1px solid #cee9f1;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  align-items: center;
  padding: 50px;
  position: relative;
}

.nav {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cee9f1;
  img {
    max-width: 15%;
  }
}

.container-no-nav {
  margin: 155px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 40%;
  }
}

th {
  text-align: left;
}

tr.nested {
  td:first-child {
    padding-left: 15px;
  }
  &.nested-2x {
    td:first-child {
      padding-left: 30px;
    } 
  }
}

.logo {
  padding-left: 50px;
}

.tier-2 {
  display: none;
}

.tier-3 {
  display: none;
}

.admin-process-check {
  display: none;
}

.check_boxes {
  span.checkbox {
    display: block;
  }
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #9cce72;
  color: white;
  padding: 10px 50px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  &:hover,
  &:active,
  &:focus {
    background-color: #2298bc;
  }
  a {
    color: white;
  }
}

.center-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-inputs {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
  border: 1px solid #2298bc;
  height: 50px;
}

.list-inline-item {
  display: block;
  padding-left: 30px;
  border: 1px solid #2298bc;
  border-radius: 7px;
  padding: 15px 10px;
  margin-bottom: 10px;
  &:hover,
  &:active,
  &:focus {
    background-color: #2298bc;
    color: white;
  }
}

.list-inline-item a {
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}


.list-inline-item:not(:last-child) {
  margin-right: 0px;
}

.pagination {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 600px;
  display: flex;
  justify-content: center;
  li {
    color: #E3E3E3;
    background-color: #E3E3E3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin: 0 30px;
    padding-top: 4px;
  }
}

.pagination:hover {
  li {
    color: white;
    background-color: #2298bc;
  }
}

.image-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  .btn {
    margin: 0 10px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

i.fas.fa-circle {
  color: #C4F1FF;
  font-size: 15pt;
  margin-left: 10px;
  margin-right: 10px;
}
