th {
  text-align: left;
}

tr.nested {
  td:first-child {
    padding-left: 15px;
  }
  &.nested-2x {
    td:first-child {
      padding-left: 30px;
    } 
  }
}

.tier-2 {
  display: none;
}

.tier-3 {
  display: none;
}

.admin-process-check {
  display: none;
}

.check_boxes {
  span.checkbox {
    display: block;
  }
}