body {
  background-color: #f2fcff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
    span {
      color: lightgrey;
    }
}

h1 {
  font-weight: 700;
  font-size: 20pt;
  text-align: center;
  color: #2298bc;
  padding-bottom: 40px;
  margin-bottom: 0;
}

a {
  color: lightgrey;
    &:hover,
    &:active,
    &:focus {
      color: grey;
      text-decoration: none;
    }
}

label {
  display: none;
}

.container {
  max-width: 600px;
  margin: 60px auto 0;
  border: 1px solid #cee9f1;
  background-color: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  -moz-box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  box-shadow: 0px 0px 2px 2px rgba(169,169,169,0.1);
  align-items: center;
  padding: 50px;
  position: relative;
}

.nav {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cee9f1;
    img {
      max-width: 15%;
    }
}

th {
  text-align: left;
}

tr.nested {
  td:first-child {
    padding-left: 15px;
  }
  &.nested-2x {
    td:first-child {
      padding-left: 30px;
    } 
  }
}

.logo {
  padding-left: 50px;
}

.tier-2 {
  display: none;
}

.tier-3 {
  display: none;
}

.admin-process-check {
  display: none;
}

.check_boxes {
  span.checkbox {
    display: block;
  }
}

.btn {
  background-color: #9cce72;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 15px 0 15px 0;
    &:hover,
    &:active,
    &:focus {
      background-color: #2298bc;
  }
}

.form-inputs {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
  border: 1px solid #2298bc;
  height: 50px;
}

.list-inline-item {
  display: block;
  padding-left: 30px;
  border: 1px solid #2298bc;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
    &:hover,
    &:active,
    &:focus {
      background-color: #2298bc;
      color: white;
    }
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
}

.pagination {
  position: absolute;
  top: -15px;
  left: 0px;
  width: 600px;
  display: flex;
  justify-content: center;
    li {
      color: white;
      background-color: #2298bc;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      margin: 0 30px;
    }
}
