= render 'nav'
.container
  %h1.warning WARNING!
  %p Do any of the following apply to you?
  -# = @patient_case.diagnosis.id

  %br

  = render 'form'
  .center-btn
    %p.btn
      = link_to "Start Over", new_patient_case_path
