= render 'nav'
.container
  %ul.pagination
    %li 1
    %li 2
    %li{class: ('active' if is_active_link?(symptoms_patient_case_path, :inclusive))} 3
    %li 4
    
  %h1 One last step!
  = render 'form'
