= render 'nav'
.container
  %ul.pagination
    %li{class: ('active' if is_active_link?(symptoms_patient_case_path, :inclusive))} 1
    %li{class: ('active' if is_active_link?(symptoms_patient_case_path, :inclusive))} 2
    %li 3
    %li 4
    
  - if params[:symptom_id].present?
    %h1 What's bothering you?
  - else
    %h1 Select a Primary Complaint Area
  = render 'form'
